* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
    user-select: none;
}


:root {
  --sketch-color: rgb(105, 100, 100);
}

.container{
    height: 100vh;
    width: 100vw;
    display:flex ;
}

.left-panel{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.sketch-area{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch{
    border: 10px solid black;
    height: 650px;
    width: 650px;
    /* make a flex box to spread items vertically */
    display: flex;
    flex-direction: column;
}

button{
    height: 40px;
    width: 100px;
    background-color: rgb(108, 112, 112);
    border-radius: 50px;
    margin: 5vh;
}

/* make rows */
.row{
    display: flex;
    flex: 1;/* make rows spread across */
}

.box{
flex: 1;
border: 1px solid black;
}

.box.hover{
    background-color: var(--sketch-color);
}